<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.mdxq.wwjclub.cms.dao.CourseMapper">
    <insert id="insert">
        insert into cms_course (title, category, idx, hours, info)
        values (#{title}, #{category}, #{idx}, #{hours}, #{info})
    </insert>

    <delete id="delete">
       update cms_course
       set deleted = 1,updated = current_timestamp
       where id = #{param1}
    </delete>

    <delete id="deleteBatch">
        update cms_course
        set deleted = 1,updated = current_timestamp
        <where>
            id IN <foreach collection="list" item="id" open="(" close=")" separator=",">#{id}</foreach>
        </where>
    </delete>

    <update id="update">
        update cms_course
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="category != null">category = #{category},</if>
            <if test="idx != null">idx = #{idx},</if>
            <if test="hours != null">hours = #{hours},</if>
            <if test="info != null">info = #{info},</if>
            version = version + 1,
            updated = current_timestamp
        </set>
        where id = #{id} and version = #{version} and deleted = 0
    </update>

    <!--只查询未删除（deleted = 0）的记录-->
    <select id="selectById">
        select * from cms_course where id = #{param1} and deleted = 0
    </select>

    <select id="list">
        select * from cms_course
        <where>
            <if test="title != null"> title like '%${title}%' and</if>
            <if test="category != null"> category = #{category} and</if>
            deleted = 0
        </where>
    </select>
    <select id="listAll" resultType="org.mdxq.wwjclub.cms.vo.CourseVO">
        select id,title from cms_course where deleted = 0
    </select>
</mapper>