<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.mdxq.wwjclub.ums.dao.EmpMapper">
    <insert id="insert">
        insert into ums_emp
        (username, password, avatar, phone, wechat, email, gender, age,
         province, address, realname, idcard, fk_dept_id, info, hiredate)
        values
            (#{username}, #{password}, #{avatar}, #{phone}, #{wechat}, #{email}, #{gender}, #{age},
             #{province}, #{address}, #{realname}, #{idcard}, #{fkDeptId}, #{info}, #{hiredate})
    </insert>

    <delete id="delete">
        update ums_emp
        set deleted = 1, updated = current_timestamp
        where id = #{param1}
    </delete>

    <delete id="deleteBatch">
        update ums_emp
        set deleted = 1, updated = current_timestamp
        <where>
            id IN <foreach collection="list" item="id" open="(" close=")" separator=",">#{id}</foreach>
        </where>
    </delete>

    <update id="update">
        update ums_emp
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="wechat != null">wechat = #{wechat},</if>
            <if test="email != null">email = #{email},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="age != null">age = #{age},</if>
            <if test="province != null">province = #{province},</if>
            <if test="address != null">address = #{address},</if>
            <if test="realname != null">realname = #{realname},</if>
            <if test="idcard != null">idcard = #{idcard},</if>
            <if test="fkDeptId != null">fk_dept_id = #{fkDeptId},</if>
            <if test="info != null">info = #{info},</if>
            <if test="hiredate != null">hiredate = #{hiredate},</if>
            version = version + 1,
            updated = current_timestamp
        </set>
        where id = #{id} and version = #{version} and deleted = 0
    </update>

    <select id="selectById" resultType="emp">
        select * from ums_emp
        where id = #{id} and deleted = 0
    </select>

    <resultMap id="RM_EMP" type="emp">
        <id column="id" property="id"/>
        <result column="fk_dept_id" property="fkDeptId"/>
        <association property="dept" column="fk_dept_id"
                     select="org.mdxq.wwjclub.ums.dao.DeptMapper.selectById"/>
    </resultMap>

<!--    <select id="list" resultType="emp">-->
<!--        select * from ums_emp-->
<!--        <where>-->
<!--            <if test="username != null">username = #{username} and </if>-->
<!--            <if test="realname != null">realname = #{realname} and </if>-->
<!--            <if test="phone != null">phone = #{phone} and</if>-->
<!--            <if test="fkDeptId != null">fk_dept_id = #{fkDeptId} and</if>-->
<!--            deleted = 0-->
<!--        </where>-->
<!--    </select>-->
    <select id="list" resultMap="RM_EMP">
        select * from ums_emp
        <where>
            <!-- 账号模糊查询：concat('%', 参数, '%') 实现前后匹配 -->
            <if test="username != null and username != ''">
                username like concat('%', #{username}, '%')
            </if>
            <!-- 姓名模糊查询 -->
            <if test="realname != null and realname != ''">
                and realname like concat('%', #{realname}, '%')
            </if>
            <!-- 手机号模糊查询 -->
            <if test="phone != null and phone != ''">
                and phone like concat('%', #{phone}, '%')
            </if>
            <!-- 部门ID是精确查询 -->
            <if test="fkDeptId != null">
                and fk_dept_id = #{fkDeptId}
            </if>
            <!-- 固定条件：查询未删除数据 -->
            and deleted = 0
        </where>
    </select>

    <select id="selectByAccount" resultMap="RM_EMP">
        select * from ums_emp
        where (username = #{param1} or phone = #{param1})
        and password = #{param2}
        and deleted = 0
    </select>
</mapper>