<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.mdxq.wwjclub.ums.dao.MenuMapper">
    <insert id="insert">
       insert into ums_menu (title, url, icon, pid, info)
       values (#{title},#{url}, #{icon}, #{pid}, #{info})
    </insert>

    <insert id="batchInsertRoleMenu">
        insert into ums_role_menu(fk_role_id, fk_menu_id)
        values
          <foreach collection="list" separator="," item="rm">
            (#{rm.fkRoleId},#{rm.fkMenuId})
          </foreach>
    </insert>



    <!--删除该角色的所有菜单-->
    <delete id="deleteByRoleId">
       update ums_role_menu
       set deleted = 1,updated = current_timestamp
       where fk_role_id = #{param1}
    </delete>

    <delete id="delete">
       update ums_menu
       set deleted = 1,updated = current_timestamp
       where id = #{param1}
    </delete>

    <delete id="deleteBatch">
       update ums_menu
       set deleted = 1,updated = current_timestamp
       <where>
           id IN <foreach collection="list" open="(" close=")" separator=",">#{id}</foreach>
       </where>
    </delete>


    <update id="update">
        update ums_menu
        <set>
            <if test="title != null">title=#{title},</if>
            <if test="url != null">url=#{url},</if>
            <if test="icon != null">icon=#{icon},</if>
            <if test="pid !=null">pid=#{pid},</if>
            <if test="info !=null">info=#{info},</if>
            version = version + 1,
            updated = current_timestamp
        </set>
        where id =#{id} and version = #{version} and deleted = 0
        </update>

    <!--只查询未删除（deleted = 0）的记录-->
    <select id="selectById" resultType="menu">
       select * from ums_menu where id = #{param1} and deleted = 0
    </select>

    <select id="list" resultType="menu">
       select * from ums_menu
       <where>
           <if test="title != null">title like '%${title}%' and</if>
           <if test="pid != null">pid =#{pid} and</if>
           deleted = 0
       </where>
    </select>

    <!-- 使用左外连接将Menu表连接到父菜单，分别查到当前菜单的id、title和父菜单的id和title -->
    <select id="listAll" resultType="org.mdxq.wwjclub.ums.vo.MenuVO">
       select m1.id,m1.title,m2.id as pid,m2.title as parentTitle
       from ums_menu as m1 left join ums_menu m2
       on m1.pid = m2.id
       where m1.deleted = 0
    </select>

    <!--将员工-角色关系表和角色-菜单关系表连接，根据员工ID查找其有权访问的菜单ID，使用in查询找出相应的菜单-->
    <select id="listByEmpId" resultType="org.mdxq.wwjclub.ums.vo.MenuVO">
        select id, title, pid ,icon,info,url from ums_menu where id in (
            select distinct rm.fk_menu_id
            from ums_emp_role as er join ums_role_menu as rm
                 on rm.fk_role_id = er.fk_role_id and er.fk_emp_id=#{param1}
                      and er.deleted = 0 and rm.deleted = 0
        ) and deleted = 0
    </select>

    <select id="listByRoleId" resultType="org.mdxq.wwjclub.ums.vo.MenuVO">
        select id, title, pid from ums_menu where id in (
            select fk_menu_id from ums_role_menu as rm where fk_role_id = #{param1} and rm.deleted = 0
        ) and deleted = 0
    </select>
</mapper>